<!--HeaderComponents-->
@{
}


<li>
    <a href="#offcanvas-add-cart" class="offcanvas-toggle">
        <i class="icon-bag"></i>
        @foreach (var item in Model)
        {
        <span class="item-count">@item.Quantity</span>
        }
    </a>
</li>

<div id="offcanvas-add-cart" class="offcanvas offcanvas-rightside offcanvas-add-cart-section">
    <!-- Start Offcanvas Header -->
    <div class="offcanvas-header text-right">
        <button class="offcanvas-close"><i class="ion-android-close"></i></button>
    </div> <!-- End Offcanvas Header -->
    <!-- Start  Offcanvas Addcart Wrapper -->
        <div class="offcanvas-add-cart-wrapper">
            <h4 class="offcanvas-title">Shopping Cart</h4>
            <ul class="offcanvas-cart">
                @foreach (var item in Model)
                {
                <li class="offcanvas-cart-item-single">
                    <div class="offcanvas-cart-item-block">
                        
                            <a href="#" class="offcanvas-cart-item-image-link">
                                <img src="@item.SanPham.ImageUrl" alt="" class="offcanvas-cart-image">
                            </a>
                        
                        <div class="offcanvas-cart-item-content">
                            <a href="#" class="offcanvas-cart-item-link">@item.SanPham.Name</a>
                            <div class="offcanvas-cart-item-details">
                                <span class="offcanvas-cart-item-details-quantity">@item.Quantity x </span>
                                <span class="offcanvas-cart-item-details-price">@item.SanPham.Price</span>
                            </div>
                        </div>
                    </div>
                    <div class="offcanvas-cart-item-delete text-right">
                        <a href="#" class="offcanvas-cart-item-delete"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                }
            </ul>
            <div class="offcanvas-cart-total-price">
                <span class="offcanvas-cart-total-price-text">Subtotal:</span>
                <span class="offcanvas-cart-total-price-value">$170.00</span>
            </div>
            <ul class="offcanvas-cart-action-button">
                <li><a href="/Customer/GioHang/cart" class="btn btn-block btn-golden">View Cart</a></li>
                <li><a href="/Customer/Home/compare" class=" btn btn-block btn-golden mt-5">Checkout</a></li>
            </ul>
        </div> <!-- End  Offcanvas Addcart Wrapper -->

    </div> <!-- End  Offcanvas Addcart Section -->

