
@{
}
@model IEnumerable<SanPham>
<div class="container">
    <table class="table">
        
            <thead>
                <tr>
                    <th>Tên thể loại</th>
                    <th>Ngày tạo</th>
                    <th>Giá tiền</th>
                    <th>Hình ảnh</th>
                    <th>Mô tả</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                    <td><img width="50%" src="@item.ImageUrl" /></td>
                    <td>@item.TheLoai.Name</td>
                    <td>
                        <a asp-action="Upsert" asp-route-id="@item.Id">Edit</a> |
                        <a href="#">Details</a> |
                        <a class="text-danger" onclick="xoa(@item.Id, $(this))">Delete</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="SanPham" asp-action="Upsert" class="btn btn-primary">Thêm Mới</a>
</div>
<script>
    function xoa(id, row)
    {
        $.ajax
        ({
            url: `SanPham/Delete/${id}`,
            type: "POST",
            success: function (data)
            {
                row.closest("tr").remove(); 
            }
        })
    }
</script>